@import url("https://fonts.googleapis.com/css2?family=Mukta+Vaani:wght@300;400;700&display=swap");

@import "@splidejs/react-splide/css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --base-color: #8079e9;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Mukta Vaani", sans-serif;
}

.splide__arrow {
  background-color: var(--base-color);
}

.splide__arrow svg {
  fill: white;
}

.splide__arrow--prev {
  left: 0;
}

.splide__arrow--next {
  right: 0;
}

.splide__slide:last-of-type .project-card {
  margin-right: 1em;
}

.project-card {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.info-card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.info-card:not(:last-child)::after {
  position: absolute;
  content: "";
  background-color: white;
  width: 8px;
  height: 48px;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  z-index: 1;
}

@media screen and (min-width: 900px) {
  .info-card:not(:last-child)::after {
    position: absolute;
    content: "";
    background-color: white;
    width: 40px;
    height: 8px;
    left: unset;
    transform: unset;
    right: -40px;
    top: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .info-card:not(:last-child)::after {
    width: 70px;
    right: -70px;
  }
}

@media screen and (min-width: 480px) {
  .visible-until-sm {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .visible-from-sm {
    display: none;
  }

  .project-card {
    width: calc(100vw - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .visible-until-xl {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .visible-from-xl {
    display: none;
  }
}
